html {
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    color: rgba(255, 255, 255, 0.788);
    -webkit-text-stroke: .5px black; /* outline size and color */
    text-shadow: 2px 0px 0 #216db1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
}

.header #title {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: center;
}

a {
    color: inherit;
}

.header .header_services {
    display: inline-block;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-bottom 0.3s ease;
}

.header_services:hover {
    border-bottom: 2px solid white;
}



body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.darkMode {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header button {
    font-family:'Times New Roman', Times, serif;
    border-radius: 20px;
    transition-duration: .5s;
    background-color: black;
    border: none;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.788);
    font-size: 22px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    text-shadow: 2px 0px 0 #216db1;
    -webkit-text-stroke: .5px black; /* outline size and color */
    margin-right: 30px;
}

.header button:hover {
    transition-duration: .5s;
    background-color: rgb(39, 38, 38);
}

.dark-mode {
    position: absolute;
    margin-top: 120px;
    right: 20px;
}



#darkmode { 
    font-family: system-ui;
    border-radius: 20px;
    transition-duration: .5s;
    background-color: rgba(255, 255, 255, 0.788);
    border: 2px solid black;
    box-shadow: 3px 3px 5px black;
    padding: 0 15px;
    color: black;
    font-size: 15px;
    height: 50px;
    cursor: pointer;
}

#darkmode:hover {
    background-color: rgba(227, 224, 224, 0.788);
}

.welcome {
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    flex-direction: row;
    align-items: center;
    background-color: white;
    color: rgba(255, 255, 255, 0.788);
    transition-duration: .5s;
}

.darkMode .welcome {
    background-color: rgb(22, 21, 21);
}

.learn-more {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#front-image {
    display: flex;
    height: 70%;
    width: auto;
    align-items: center;
    border-radius: 16px;
    border: 2px solid black;
    box-shadow: 2px 3px 20px grey;
    margin-left: 10%;
    margin-top: 10%;
}

.learn {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}


.container .welcome .welcome_title {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    font-size: 3rem;
    -webkit-text-stroke: .5px black; /* outline size and color */
    text-shadow: 2px 0px 0 #216db1;
}

.container .welcome .welcome_title h2 {
    padding: 0;
    margin: 5px;
}

.container .welcome button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: auto;
    padding: 0 50px;
    height: 50px;
    align-items: center;
    border-radius: 16px;
    background-color: transparent;
    transition-duration: .4s;
    box-shadow: 3px 3px 5px black;
}

.darkMode .welcome button {
    background-color: white;
}

.container .welcome button:hover {
    background-color: rgba(227, 224, 224, 0.788);
    transition-duration: .4s;
}

.who-we-are {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background-color: white;
}

.darkMode .who-we-are {
    background-color: rgb(22, 21, 21);
}

.who-we-are-title {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.788);
    -webkit-text-stroke: .5px black; /* outline size and color */
    text-shadow: 2px 0px 0 #216db1;
}

.who-we-are-title h2 {
    display: inline-block;
    border-bottom: 3px solid #216db1;
}

.who-we-are-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.who-we-are-box {
    width: 40%;
    height: 500px;
    background: rgba(255, 255, 255, 0.788);
    box-shadow: 6px 6px 10px black;
    border-radius: 16px;
    border: 2px solid black;
    text-align: left;
}

.who-we-are-box h2 {
    font-size: 2rem;
    margin-left: 15px;
}

.container .about {
    height: 120vh;
    background: linear-gradient(to bottom, white, #216db1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.darkMode .about {
    background: linear-gradient(to bottom, rgb(22, 21, 21), rgb(78, 76, 76));
}

#what-we-do {
    display: inline-block;
    border-bottom: 3px solid #216db1;
}

.sections {
    display: flex;
    flex-direction: row;
}

.container .about .cards {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 50px;
}


.container .about .card {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 20px;
    gap: 45px;
}


.about-title {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.788);
    -webkit-text-stroke: .5px black; /* outline size and color */
    text-shadow: 2px 0px 0 #216db1;
    z-index: 1;
}

.about-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left center;
    justify-content: space-around;
}

.about-sections {
    background-color: rgba(255, 255, 255, 0.788);
    border-radius: 16px;
    width: 700px;
    height: 200px;
    border: 2px solid black;
    margin-top: 20px;
    box-shadow: 3px 3px 5px black;
}

.about-sections h2 {

    margin-left: 30px;
    font-size: 2rem;
}


#image {
    width: 150px;
    height: 100px;
}

.result {
    margin-left: 30px;
    width: 200px;
    height: 200px;
    border-radius: 16px;
    border: 2px solid black;
    box-shadow: 2px 3px 20px black;
}

.button-font {
    margin-left: 30px;
    margin-right: 30px;
    font-family: system-ui;       /* usually matches the OS (e.g. San Francisco, Segoe UI) */
    font-size: 1.1rem;              /* = 16px */
    font-weight: normal;
    color: black;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding-bottom: 5rem;
    width: 100%;
    background-color: white;
    border-bottom: 5px solid #216db1;
    overflow: hidden;
}

.form-description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.darkMode .paragraph-section p {
    color: white;
}

.paragraph-section {
    width: 50%;
    height: auto;
    font-size: 2rem;
}

.overlay {
    position: fixed;
    z-index: 800;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    justify-content: center;
    align-items: center;

}

.modal {
    top: 25%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    z-index: 850;
    border-radius: 50px;
    width: 50%;
    height: 40%;
    padding: 5em;
    background-color: rgba(227, 224, 224, 1)
}

.modal i {
    font-size: 5rem;
}

.darkMode .form {
    background-color:rgb(39, 38, 38);
}

.darkMode .rsvp-quotes p{
    color: white;
}

.form-title{
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.788);
    -webkit-text-stroke: .5px black; /* outline size and color */
    text-shadow: 2px 0px 0 #216db1;
}

.form-title h2 {
    display: inline-block;
    border-bottom: 3px solid #216db1;
}

.quote_form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: .75rem;
    margin-top: 1.5rem;
}


.quote_form input {
    margin-top: 2rem;
    border-radius: 16px;
    height: 35px;
    width: 20%;
    box-shadow: 3px 3px 5px black;
    padding-left: 8px;
    transition-duration: .5s;
    background-color: transparent;
}

.darkMode .quote_form input {
    color: white;
}


.quote_form button {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: auto;
    padding: 0 20px;
    height: 40px;
    align-items: center;
    border-radius: 16px;
    background-color:rgba(227, 224, 224, 0.788);
    transition-duration: .4s;
    box-shadow: 3px 3px 5px black;
    margin-top: 2rem;
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65vh;
    background-color: light lightgray;
    position: relative;
    display: flex;
    color: black;
    justify-content: space-evenly;
    color: rgba(255, 255, 255, 0.788);
    -webkit-text-stroke: .5px black; /* outline size and color */
    text-shadow: 2px 0px 0 #216db1;
    overflow: hidden;
}

.darkMode .footer {
    background-color: rgb(22, 21, 21);
}

.footer h5 {
    color: black;
    text-shadow: none;
}

.darkMode .footer h5 {
    color: white;
}

.footer-section {
    padding: 50px;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.788);
    -webkit-text-stroke: .5px black; /* outline size and color */
}


.rights-reserved {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: system-ui;       /* usually matches the OS (e.g. San Francisco, Segoe UI) */
    font-size: 1rem;              /* = 16px */
    font-weight: normal;
    text-align: center;
    color: white;
    background-color: black;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.heart {
    width: 100px;
    height: 90px;
    position: relative;
    align-items: center;
    background-color: red;
    transform: rotate(-45deg);
    animation: beat 1s infinite ease-in-out;
}

.heart::before,
.heart::after {
    content: "";
    width: 100px;
    height: 90px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

.heart::before {
    top: -50px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 50px;
}


@keyframes beat {
    0%, 100% {
        transform: rotate(-45deg) scale(1);
    }
    50% {
        transform: rotate(-45deg) scale(1.2);
    }
}
